<body>
	<div id="wrap" style="
	text-align: center;
	"><!-- Start: Header Section -->

		<div class="body" style="
		text-align: center;
		">
			<div class="errors" style="
			color: red;
			font-size: 30px;
			font-family: -webkit-body;
			text-align: center;
			">Sorry, you're not authorized to view this page.</div>
		</div>

		<img src="https://cdn-01.media-brady.com/store/stbenl/media/catalog/product/cache/7/thumbnail/85e4522595efc69f496374d01ef2bf13/1536639345/d/m/dmeu_tc35_50_1_std.lang.all.gif">
		<!-- End: Footer -->
	</div>
 </body>